/* Created on 15/02/18 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px san-serif;
  color: #555;
}

nav {
  list-style: none;
}

/* a {
  text-decoration: none;
  opacity: 0.65;
}

a:hover {
  opacity: 1;
} */

a {
  text-decoration: none;
  }

a.btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #63B8FF;
}
/* i for now but will need to change to a class later */
i{
  border-radius:30%;
  position:relative 
  padding-right:15px;
  background-color: white;
  max-height:100%;
  width:auto;
  float:left;
  margin-top:3px;
  margin-bottom:auto;
  margin-left:10px;
  margin-right:10px;
}

header {
  display: flex;
  align-items: left;
  padding: 20px 80px 0;
  background-color: #100491;
  
  animation: fadein 2s;
}
header i {
  float:left;
  margin:auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

section h1 {
  font-family: 'BioRhyme Expanded', serif;
}

header h2 {
  font: normal 30px san-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

/* unsure how to position the logo */
/* i {
  height: 100px;
} */


.introduction {
  background-image: url("https://unsplash.com/photos/ourQHRTE2IM");
  color: white;
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.image-link{
  display:inline-block;
  position:relative;
  width:40%;
  padding-top: 40%;
  background-color:navy;
  margin-bottom: 10%;
  margin-left:auto;
  padding-left:100px;
  border-radius:5%; 

}

.image-link a{
  text-align: center; /*these dont work and dont know why*/
  vertical-align: middle;
  color:white;
  font-family: roboto;
  font-size:20px;
}

/*.image-link img{
  position:relative;
  width:100%;
  height:100%; ---- dont have time to play with */
}


.introduction .background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: pink;

}

.introduction {
  background-image: url("https://www.cs.columbia.edu/~w3157/hackathon/img/2016_spring_pano_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  bnackground-position: center center;
  font: normal 18px "Open Sans", san-serif;
  text-shadow: 2px 2px black;
}

.introduction h1 {
  font: bold 65px san-serif;
  margin-bottom: 20px;
}

introduction h3 {
  margin-bottom: 30px
}

.introduction a.btn {
  line-height: 5em;
  padding: 20px 46px;
  text-shadow: none;
}

